# .dockerignore

# Exclude sensitive files
.env
.env.example
tests/
.conftest
README.md
__pycache__
.git
.gitignore
.coverage
.flake8
.idea
.venv
.pytest_cache
test_
etl_output/
dagster_home/.telemetry/
dagster_home/event_logs/
dagster_home/logs/
dagster_home/runs/
dagster_home/schedules/
dagster_home/storage/
biometrics_simulated
Makefile
Screenshots/
